$color1: #9C864B;
$color2: #E1F4F3;
$color3: #706C61;
$color4: #1C1C1C;
$color5: #000000;
$color6: rgba(0, 0, 0, 0);
$color7: #171717;
$color8: rgba(0, 0, 0, .2);
$color9: #EE4444;
$color10: rgba($color2, .2);
$color11: #9B9B9B;
$color12: rgba($color4, .65);
$color13: rgba(#393939, .2);
$color14: #76807F;
$color15: #490979;
$color16: #00d4ff;
$color17: rgba(0, 0, 0, .95);
$color18: rgba(#C4C4C4, .2);
$color19: #555555;
$color20: #777777;
$color21: #666666;

$family1: "Sansation-Regular";
$family2: "Sansation-Bold";
$family3: "Sansation-Italic";
$family4: "Sansation-Light";
$family5: "Sansation-LightItalic";
$family6: "Sansation-BoldItalic";
$family7: "Sanchez-Regular";
$family8: "Sanchez-Italic";
$family9: "Roboto";